<div class="container mx-auto px-5">
<p class="not-italic ... text-xl ... font-semibold ... text-center ... text-teal-800 ... my-5">Conferences, Symposia & Meetings </p>
<ul class="list-outside ... list-disc">
  <li>G. Romano and R. Barretta.</li>
   <a href="/assets/GioBook/stamm_thermopaper2008.pdf">The First Principle of Thermodynamics and the Virtual Temperatures Theorem.</a>
   <p>STAMM 2008 Symposium on Trends in Applications of Mathematics to Mechanics,
      Grand Hotel Bellavista, Levico Terme (Trento),Italy, September 22-25 (2008)</p>
 <li>G. Romano, F. Marotti de Sciarra, R. Barretta, A. Barretta.</li>
   <a href="/assets/GioBook/gimc2008_paper.pdf">Error estimates in mixed elastostatics.</a>
   <p>GIMC2008 XVII Meeting Italian Group of Computational Mechanics,
      Facolty of Architecture, Alghero, Italy, September 10-12 (2008)</p>
     <li>G. Romano, R. Barretta and M. Diaco.</li>
   <a href="/assets/GioBook/mdp2007_paper.pdf">Variational Principles with singularities in Geodesics, Optics and Dynamics.</a>
   <p>International Symposium on Recent Advances in Mechanics, Dynamical Systems and Probability Theory, MDP-2007, Palermo, June 3-6 (2007)</p>
 <li>G. Romano, R. Barretta and M. Diaco.</li>
   <a href="/assets/GioBook/eccm2006_paper.pdf">A geometric approach to the algoritmic tangent stiffness.</a>
   <p>III European Conference on Computational Mechanics - Solids, Structures and Coupled Problems in Engineering, Lisbon, June 5-8 (2006)</p>
</ul>
</div>
