<p class="not-italic ... text-xl ... font-semibold ... text-center ... text-teal-800 ... my-5">Lecture Notes</p>
<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Geometry & Continuum Mechanics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Content of card 1.
    </mat-card-content>
    <mat-card-actions  fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="downloadPDF('/assets/GioBook/innsbruck_2014.pdf')">Download PDF</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Continuum Mechanics on Manifolds</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Content of card 2.
    </mat-card-content>
    <mat-card-actions  fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="downloadPDF('/assets/GioBook/cont_mech_manifolds.pdf')">Download PDF</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Geometria della Deformazione</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Content of card 3.
    </mat-card-content>
    <mat-card-actions  fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="downloadPDF('/assets/GioBook/deformazione.pdf')">Download PDF</button>
    </mat-card-actions>
  </mat-card>

  <mat-card style="margin-bottom:30px">
    <mat-card-header>
      <mat-card-title>Teoria delle Strutture</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Parte I - Elementi di Analisi Lineare.
    </mat-card-content>
    <mat-card-actions  fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="downloadPDF('/assets/GioBook/spazi.pdf')">Download PDF</button>
    </mat-card-actions>
  </mat-card>
</div>
