<p class="not-italic ... text-xl ... font-semibold ... text-center ... text-teal-800 ... my-5">Scienze Delle Costruzioni</p>
<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tomo Zero</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Analisi Lineare.
    </mat-card-content>
    <mat-card-actions  fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="downloadPDF('/assets/GioBook/tomozero.pdf')">Download PDF</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Tomo I</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Cinematica ed Equilibrio.
    </mat-card-content>
    <mat-card-actions  fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="downloadPDF('/assets/GioBook/tomoi.pdf')">Download PDF</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Tomo II</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Elasticità e Resistenza dei Materiali.
    </mat-card-content>
    <mat-card-actions  fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="downloadPDF('/assets/GioBook/deformazione.pdf')">Download PDF</button>
    </mat-card-actions>
  </mat-card>
</div>
