<div class="pt-6 md:p-8 text-center md:text-left space-y-4">
    <blockquote>
      <p class="text-lg font-semibold">
        "This is the scientific web page of Giovanni Romano, engineer and full professor of Structural Mechanics, Faculty of Engineering, University of Naples Federico II, Naples - Italy. E-mail: romano@unina.it."
      </p>
       <p><mark> ORCID ID : 0000-0002-7013-2768</mark></p>
    </blockquote>
    <figcaption class="font-medium">
    </figcaption>
  </div>
<figure class="md:flex bg-slate-100 p-8 md:p-5 dark:bg-slate-800">
  <img class="w-48 h-48 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" src="/assets/HomeImage/gioprof_med_hr-2.jpeg" alt="Giovanni Romano" width="512" height="512">
    <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
   <figcaption class="font-medium">
      <div class="text-sky-500 dark:text-sky-400  md:mr-20">
        Giovanni Romano
      </div>
      <div class="text-slate-700 dark:text-slate-500  md:mr-20">
       Full Professor of Structural Mechanics
      </div>
    </figcaption>
    </div>
  </figure>
<p class="not-italic ... text-xl ... font-semibold ... text-center ... text-teal-800 ...">Short Curriculum Vitae</p>
<ul class="list-outside ... list-disc">
  <li>Born: October 1st 1941.</li>
  <li>Graduation: Electronic Engineering July 1965 - University of Naples, Faculty of Engineering.</li>
  <li>Teaching:University of Naples: Analytical Geometry,Structural Mechanics,Computational Mechanics,Solid Mechanics.
    University of Calabria: Analytical Geometry, Structural Mechanics and Design
    University of Catania: Structural Mechanics.</li>
  <li>Full professor of Structural Mechanics October 1980 - October 2011, University of Naples - Faculty of Engineering.</li>
  <li>Academic and research activities:

    PhD course in Structural Mechanics, University of Naples - Faculty of Engineering. Director 1993-2005.

    Istituto di Scienza delle Costruzioni, University of Naples - Faculty of Engineering. Director 1989-1991.

    Istituto di Scienza delle Costruzioni, University of Catania - Faculty of Engineering. Director 1989-1991.

    Progetto Bilaterale di Ricerca CNR-Italia e CNPq-Brazil. Coordinatore 1984-1986.

    International Society for the Interaction of Mathematics and Mechanics (ISIMM) Member since 1980.

    Società Nazionale di Scienze Lettere ed Arti in Napoli, Socio della
    Accademia delle Scienze Fisiche e Matematiche, since 1998.</li>
  <li>Research activities and seminars in foreign scientific institutions:

    POLAND, Warszawa, (Instytut Podstawowych Problemów Techniki Polskiej Akademii Nauk).

    BRAZIL, Rio de Janeiro, (Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq) e Pontificia Universidade Católica (PUC).

    USA (Northwestern University – Evanson – Illinois, Virginia Polytechnic Institute and State University (Virginia Tech), Blacksburg – Virginia, University of Washington, Seattle - Washington, University of California at San Diego (UCSD), San Diego – California, University of Florida, Gainesville – Florida).</li>


</ul>
