<div class="container mx-auto px-5">
<p class="not-italic ... text-xl ... font-semibold ... text-center ... text-teal-800 ... my-5">Selected Pubblications</p>
<ul class="list-outside ... list-disc">
  <li>Giovanni Romano.</li>
   <a href="/assets/GioBook/electrodynamics-without.pdf">Electrodynamics without Lorentz force.</a>
   <br>
   <a href="https://arxiv.org/abs/1209.5960v3">arXiv:1209.5960v3 [physics.gen-ph].</a>
   <p>November 10, 2021.</p>
 <li>Giovanni Romano and Marina Diaco.</li>
   <a href="/assets/GioBook/romano-diaco2020_article_on.pdf">On formulation of nonlocal elasticity problems.</a>
   <p>Meccanica (2021) 56:1303–1328.</p>
   <a href="https://link.springer.com/article/10.1007/s11012-020-01183-5">https://doi.org/10.1007/s11012-020-01183-5.</a>
     <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
  <p>Iterative methods for nonlocal elasticity problems</p>
   <a href="/assets/GioBook/romano2019_article_iterativ.pdf">Continuum Mech. Thermodyn. (2019) 31: 669.</a>
  <a href="https://link.springer.com/article/10.1007/s00161-018-0717-8f">https://doi.org/10.1007/s00161-018-0717-8.</a>
 <li>Giovanni Romano, Raimondo Luciano, Raffaele Barretta, Marina Diaco.</li>
  <p>Nonlocal integral elasticity in nanostructures, mixtures, boundary effects and limit behaviours</p>
   <a href="https://link.springer.com/article/10.1007/s00161-018-0631-0">Continuum Mechanics and Thermodynamics (First Online 14 February 2018), 1-15.</a>
   <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
  <p>The notion of elastic state and application to nonlocal models</p>
   <a href="/assets/GioBook/aimeta2017_vol-iii_1145.pdf">Proceedings AIMETA 2017 vol. III, 1156–1156.</a>
  <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
  <p>A geometric rationale for invariance, covariance and constitutive relations</p>
   <a href="https://link.springer.com/article/10.1007/s00161-017-0595-5">Continuum Mechanics and Thermodynamics 30(1) 175--194 (2018).</a>

   <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
   <a href="/assets/GioBook/on-the-role-of-control-2.pdf">On the role of control windows in continuum dynamics.</a>
   <p>Acta Mechanica. First Online 23 December 2017.</p>
  <a href="https://link.springer.com/article/10.1007/s00707-017-2050-x">http://dx.doi.org/10.1007/s00707-017-2050-x.</a>
   <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
   <a href="/assets/GioBook/on-nonlocal-integral-models.pdf">On nonlocal integral models for elastic nano-beams.</a>
   <p>International Journal of Mechanical Sciences 131–132 (2017) 490–499 </p>
  <a href="https://www.sciencedirect.com/science/article/abs/pii/S0020740316308694?via%3Dihub">On nonlocal integral models for elastic nano-beams.</a>
   <li>Giovanni Romano, Raffaele Barretta.</li>
   <a href="/assets/GioBook/nonlocal-elasticity-in-nano.pdf">Nonlocal elasticity in nanobeams: the stress-driven integral model.</a>
   <p>International Journal of Engineering Sciences 115 (2017) 14–27.</p>
  <a href="https://www.sciencedirect.com/science/article/abs/pii/S0020722516306188?via%3Dihub">http://dx.doi.org/10.1016/j.ijengsci.2017.03.002</a>
   <li>Giovanni Romano and Raffaele Barretta.</li>
   <a href="/assets/GioBook/stress_driven_int_model_rb_.pdf">Stress-driven versus strain-driven nonlocal integral model for elastic nano-beams.</a>
   <p>Composites Part B (2017)</p>
  <a href="https://www.sciencedirect.com/science/article/abs/pii/S1359836816330074?via%3Dihub">http://dx.doi.org/10.1016/j.compositesb.2017.01.008 </a>
     <li>Giovanni Romano, Raffaele Barretta, Marina Diaco, Francesco Marotti de Sciarra.</li>
  <p>Constitutive boundary conditions and paradoxes in nonlocal elastic nanobeams</p>
  <p>International Journal of Mechanical Sciences 121 (2017) 151–156.</p>
   <a href="https://www.sciencedirect.com/science/article/abs/pii/S002074031630577X?via%3Dihub">http://dx.doi.org/10.1016/j.ijmecsci.2016.10.036 </a>
  <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
   <a href="/assets/GioBook/solid-fluid-interaction.pdf">Solid–fluid interaction: a continuum mechanics assessment.</a>
   <p>Acta Mechanica 228 (2017) 851–869.</p>
  <a href="https://link.springer.com/article/10.1007/s00707-016-1738-7">http://dx.doi.org/10.1007/s00707-016-1738-7 </a>
  <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
  <p>Comment on the paper “Exact solution of Eringen’s nonlocal integral model for bending of Euler–Bernoulli and Timoshenko beams” by Meral Tuna & Mesut Kirca.</p>
  <p>International Journal of Engineering Science 109 (2016) 240–242.</p>
  <a href="https://www.sciencedirect.com/science/article/abs/pii/S0020722516305596?via%3Dihub">http://dx.doi.org/10.1016/j.ijengsci.2016.09.009</a>
  <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
  <a href="https://www.sciencedirect.com/science/article/abs/pii/S0020722516305596?via%3Dihub">Micromorphic continua: non-redundant formulations.</a>
  <p>Continuum Mechanics and Thermodyninamics (2016) 28:1659–1670.</p>
  <a href="https://link.springer.com/article/10.1007/s00161-016-0502-5">https://link.springer.com/article/10.1007/s00161-016-0502-5</a>
  <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
  <a href="/assets/GioBook/accademia_geodyna_2015.pdf">Geometric Action Principles in Classical Dynamics.</a>
  <p>Atti Accademia Nazionale Scienza Lettere ed Arti in Napoli, 1–45, January 2015.</p>
  <li>Giovanni Romano.</li>
  <a href="/assets/GioBook/innsbruck_2014.pdf">Geometry & Continuum Mechanics.</a>
  <p>Short Course in Innsbruck, 24–25, November 2014.</p>
  <li>Giovanni Romano.</li>
  <a href="/assets/GioBook/accademia_timelength_2014.pdf">On Time and Length in Special Relativity.</a>
  <p>Atti Accademia Nazionale Scienza Lettere ed Arti in Napoli, 1–26, May 2014.</p>
  <li>Giovanni Romano.</li>
  <a href="/assets/GioBook/accademia_feyn_2014.pdf">Beyond Feynman troubles in Electromagnetics.</a>
  <p>Atti Accademia Nazionale Scienza Lettere ed Arti in Napoli, 1–31, April 2014.</p>
  <li>Giovanni Romano.</li>
  <a href="/assets/GioBook/accademia_feyn_2014.pdf">Beyond Feynman troubles in Electromagnetics.</a>
  <p>Atti Accademia Nazionale Scienza Lettere ed Arti in Napoli, 1–31, April 2014.</p>
  <li>Giovanni Romano.</li>
  <a href="/assets/GioBook/accademia_curvature_2014.pdf">On natural derivatives and the curvature formula in fibre bundles.</a>
  <p>Atti Accademia Nazionale Scienza Lettere ed Arti in Napoli, 1–13, June 2014.<br>arXiv:1107.1705</p>
  <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
  <a href="/assets/GioBook/acta_mech_elasticity_2014.pdf">The geometry of nonlinear elasticity.</a>
  <p>DOI:<br></p>
  <a href="https://link.springer.com/article/10.1007/s00707-014-1113-5">https://link.springer.com/article/10.1007/s00707-014-1113-5</a>
  <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
  <a href="/assets/GioBook/meccanica_gcmech2013.pdf">Geometric Continuum Mechanics.</a>
  <p>Meccanica, 49(1) 111–133 (2014).DOI:<br></p>
  <a href="https://link.springer.com/article/10.1007/s11012-013-9777-9">https://link.springer.com/article/10.1007/s11012-013-9777-9</a>
  <li>Giovanni Romano, Raffaele Barretta, Marina Diaco.</li>
  <a href="/assets/GioBook/acta_mech_rate_2013.pdf">Rate formulations in nonlinear continuum mechanics.</a>
  <p>Acta Mech. 225(6) 1625–1648 (2013). DOI:<br></p>
  <a href="https://link.springer.com/article/10.1007/s00707-013-1002-3">https://link.springer.com/article/10.1007/s00707-013-1002-3</a>
  <li>Giovanni Romano, Raffaele Barretta.</li>
  <a href="/assets/GioBook/acta_mech_euler_2013.pdf">On Euler stretching formula in continuum mechanics.</a>
  <p>Acta Mech. 224(1) 211–230 (2013). DOI:<br></p>
  <a href="https://link.springer.com/article/10.1007/s00707-012-0746-5">https://link.springer.com/article/10.1007/s00707-012-0746-5</a>
  <li>Giovanni Romano, Raffaele Barretta.</li>
  <a href="/assets/GioBook/ijnlm_ctf_2013_author.pdf">Geometric Constitutive Theory and Frame Invariance.</a>
  <p>Int. J. Non-Linear Mech.(51)75–86. (2013) DOI:<br></p>
  <a href="https://www.sciencedirect.com/science/article/abs/pii/S0020746212001990?via%3Dihub">https://www.sciencedirect.com/science/article/abs/pii/S0020746212001990?via%3Dihub</a>

  <li>Giovanni Romano.</li>
  <a href="/assets/GioBook/accademia_entang_2013.pdf">On Electromagnetic Entanglements under Changes of Frame.</a>
  <p>Atti Accademia Nazionale Scienza Lettere ed Arti in Napoli, 1–20, February 2013.<br></p>
  <li>Giovanni Romano, Annalisa Barretta, Raffaele Barretta.</li>
  <a href="/assets/GioBook/ejms_beams2012.pdf">On Torsion and Shear of Saint-Venant Beams.</a>
  <p>Eur. J. Mech. A-Solids (35) 47–60 (2012) DOI:<br></p>
  <a href="https://www.sciencedirect.com/science/article/abs/pii/S0997753812000095?via%3Dihub">https://www.sciencedirect.com/science/article/abs/pii/S0997753812000095?via%3Dihub</a>
  <li>Giovanni Romano, Raffaele Barretta.</li>
  <a href="/assets/GioBook/ejms_covhypo2011.pdf">Covariant Hypo-elasticity.</a>
  <p>Eur.J.Mech.A-Solids(30)1012–1023(2011)DOI:<br></p>
  <a href="https://linkinghub.elsevier.com/retrieve/pii/S0997753811000714">https://linkinghub.elsevier.com/retrieve/pii/S0997753811000714</a>
  <li>Giovanni Romano.</li>
  <a href="/assets/GioBook/electrolaws_2011.pdf">On the Laws of Electromagnetic Induction.</a>
  <p>67 (2011) arXiv:1105.3340.<br></p>

</ul>

</div>


